<% if @users.empty? %>
    <p id="ux_info">Il n'y a pas de conseillers-ères dans la base de données.</p>
<% else %>
    <table id ="cantonInfos" class="table table-striped">
        <thead>
            <tr>
                <th>Conseiller-ère</th>
                <th>Parti politique</th>
                <th>En savoir plus</th>
                <th>Email</th>
                <th>Poser une question</th>
            </tr>
        </thead>
        <tbody>

            <% @users.each do |user| %>
            <tr>
                <td><%=user.firstname %> <%=user.lastname %></td>
                <td><%=user.political_party.name %></td>
                <td><a href="<%=user.website %>" target="_blank">Biographie</a></td>
                <td><a href="mailto:<%=user.email %>"><%=user.email %></a></td>
                <td><a href="#">Poser une question</a></td>
            </tr>

            <% end %>
        </tbody>
    </table>
<% end %>
